<div class="mt-5">
  <div #resume class="container">
    <!-- Personal Information -->
    <header *ngIf="personalData">
      <h1>{{ personalData.name || 'John Doe' }}</h1>
      <p>{{ personalData.job || 'Web Developer' }}</p>
    </header>
    <hr>
    <section class="contact" *ngIf="personalData">
      <h2>Contact Information</h2>
      <ul>
        <li><strong>Email:</strong> {{ personalData.email || 'N/A' }}</li>
        <li><strong>Phone:</strong> {{ personalData.mob || 'N/A' }}</li>
        <li><strong>LinkedIn/Portfolio:</strong> {{ personalData.link || 'N/A' }}</li>
        <li><strong>Address:</strong> {{ personalData.add || 'N/A' }}</li>
      </ul>
    </section>

    <!-- Summary Section -->
    <section class="summary" *ngIf="summaryText">
      <h2>Summary</h2>
      <p>{{ summaryText }}</p>
    </section>


    <!-- Work Experience Section -->
    <section class="experience" *ngIf="experienceData.length > 0">
      <h2>Work Experience</h2>
      <div *ngFor="let exp of experienceData" class="job">
        <h5>{{ exp.job || 'N/A' }}</h5>
        <p class="info">{{ exp.comp || 'N/A' }} | {{ exp.Start || 'N/A' }} - {{ exp.end || 'N/A' }}</p>
        <p><strong>Address:</strong> {{ exp.adr || 'N/A' }}</p>
      </div>
    </section>
    
    <!-- Education Section -->
    <section class="education" *ngIf="educationData.length > 0">
      <h2>Education</h2>
      <div *ngFor="let edu of educationData" class="degree">
        <h5>{{ edu.qly || 'N/A' }}</h5>
        <p class="info">
          {{ edu.clg || 'N/A' }} - {{ edu.uni || 'N/A' }}
        </p>
        <p class="year">Completed: {{ edu.compl || 'N/A' }}</p>
        <p>Percentage: {{ edu.percentage || 'N/A' }}</p>
      </div>
    </section>

    <!-- Skills Section -->
    <section class="skills" *ngIf="skills && skills.length > 0">
      <h2>Skills</h2>
      <ul>
        <li *ngFor="let skill of skills">
          <strong>{{ skill.skill }}</strong>: {{ skill.per }}%
        </li>
      </ul>
    </section>
  </div>

  <div class="text-center my-4">
    <button type="button" class="btn btn-primary" (click)="downloadPDF()">Download PDF</button>
  </div>
</div>