<div class="container col-lg-8 col-md-10 col-sm-12 my-5 shadow-lg mx-auto p-4 rounded">
  <h2 class="text-center text-primary mb-4">
    Select Resume Template
  </h2>
  <hr>
  <div class="row">
    <!-- Template 1 -->
    <div class="col-lg-6 col-md-6 col-sm-12 text-center mb-4">
      <a (click)="navigateToR1()">
        <img src="assets/r1.jpg" width="50%" class="border border-danger rounded">
      </a>
    </div>

    <!-- Template 2 -->
    <div class="col-lg-6 col-md-6 col-sm-12 text-center mb-4">
      <a (click)="navigateToR2()">
        <img src="assets/r2.jpg" width="50%" class="border border-danger rounded">
      </a>
    </div>

    <!-- Optional: Uncomment this if you want to add a third template -->
    <!--
    <div class="col-lg-6 col-md-6 col-sm-12 text-center mb-4">
      <a (click)="navigateToR3()">
        <img src="assets/r3.jpg" width="80%" class="border border-danger rounded">
      </a>
    </div>
    -->
  </div>
</div>
