<div class="col-md-8 mx-auto my-5 bg-white shadow-lg rounded p-3">
    <h2 class="text-center text-primary my-3">Summary</h2>
    <hr>
    <div class="text-center px-5">
      <form [formGroup]="sumform" (ngSubmit)="onSubmit()">
        <!-- Bind the textarea to the form control -->
        <textarea formControlName="txt" name="txt" id="summaryTextarea"
         cols="30" rows="5"class="form-control" placeholder="Enter your summary here">
        </textarea>
  
        <!-- Validation error messages -->
        <div
          *ngIf="sumform.get('txt')?.invalid && (sumform.get('txt')?.touched || sumform.get('txt')?.dirty)"
          class="text-danger mt-2"
        >
          <small *ngIf="sumform.get('txt')?.errors?.['required']">Summary is required.</small>
          <small *ngIf="sumform.get('txt')?.errors?.['minlength'] ">
            Summary must be at least 100 characters long.
          </small>
        </div>
  
        <div class="text-center my-3">
          <!-- Save button -->
          <button type="submit" class="btn btn-primary me-3" [disabled]="sumform.invalid">
            Save
          </button>
          <!-- Next button -->
          <button
            type="button"
            class="btn btn-danger rounded"
            (click)="navigateToExperience()"
          >
            Next
          </button>
        </div>
      </form>
    </div>
  </div>
  