<!-- <div class="row m-5 mx-4 px-4">
    <div class="col-md-8 col-sm-6 mx-auto">

        <img src="assets/template.jpg" alt="" class="p-3 shadow border border-danger">

    </div>

    <div class="col-md-4 col-sm-6 mx-auto border border-danger">

        <div class="mt-5 text-center">
            <h1 class="text-info"><b>Welcome to Resume Builder Website</b></h1>
            <br>
            <h4 class="text-danger pt-4">Create a professional resume in minutes!</h4>
        </div>
        <div class="text-center pt-5">
            <a class="btn btn-primary rounded-pill" (click)="navigateTologin()">Build Resume</a>
        </div>
    </div>


</div>

<section id="features">
    <div class="feature bg-secondary col-md-4 text-white rounded">
        <h3>Easy to Use</h3>
        <p>Build your resume step-by-step with our intuitive interface.</p>
    </div>
    <div class="feature bg-secondary text-white col-md-4 rounded">
        <h3>Custom Templates</h3>
        <p>Choose from a variety of professionally designed templates.</p>
    </div>
    <div class="feature bg-success text-white col-md-4 rounded mt-4">
        <h3>Download or Print</h3>
        <p>Download your resume in PDF format or print directly from our website.</p>
    </div>
</section>

<div class="py-2 text-center shadow-lg border border-danger">

    <h6 class="text-danger pt-2"> &copy; 2024 Professional Resume Builder || Developed by Prathamesh Shinde. </h6>

</div> -->


<div class="row m-5 mx-4 px-4">
    <div class="col-lg-8 col-md-6 col-sm-12 mx-auto text-center mb-2">
        <img src="assets/template.jpg" alt="Template Image" class="p-3 shadow border border-danger img-fluid">
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto border border-danger mb-2">
        <div class="mt-5 text-center">
            <h1 class="text-info"><b>Welcome to Resume Builder Website</b></h1>
            <br>
            <h4 class="text-danger pt-4">Create a professional resume in minutes!</h4>
        </div>
        <div class="text-center py-5">
            <a class="btn btn-primary rounded-pill" (click)="navigateTologin()">Build Resume</a>
        </div>
    </div>
</div>

<section id="features" class="m-3">
    <div class="feature bg-secondary col-lg-4 col-md-6 col-sm-12 text-white rounded text-center p-3 mb-3">
        <h3>Easy to Use</h3>
        <p>Build your resume step-by-step with our intuitive interface.</p>
    </div>
    <div class="feature bg-secondary col-lg-4 col-md-6 col-sm-12 text-white rounded text-center p-3 mb-3">
        <h3>Custom Templates</h3>
        <p>Choose from a variety of professionally designed templates.</p>
    </div>
    <div class="feature bg-success col-lg-4 col-md-12 col-sm-12 text-white rounded text-center p-3  mt-lg-0">
        <h3>Download or Print</h3>
        <p>Download your resume in PDF format or print directly from our website.</p>
    </div>
</section>

<div class="py-2 text-center shadow-lg border border-danger">
    <h6 class="text-danger pt-2"> &copy; 2024 Professional Resume Builder || Developed by Prathamesh Shinde. </h6>
</div>
